/* Primary */
$bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);

/*Neutral */
$Grayish-blue: hsl(227, 12%, 61%);
$Very-Blue: hsl(233, 12%, 13%);
$Very-Red: hsl(13, 100%, 96%);
$Very-light: hsl(0, 0%, 98%);

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin purple {
  background-color: $bright-Red;
  color: $Very-Red;
  border-radius: 1rem;
  height: 2.2rem;
  width: 6.5rem;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}
@mixin white {
  background-color: $Very-Red;
  color: $bright-Red;
  border-radius: 1rem;
  height: 2.2rem;
  width: 6.5rem;
  border: none;
  cursor: pointer;
}
@mixin format($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin card {
  display: block;
  width: calc(100% / 3);
  @include flex-column();
  padding: 1.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}
body {
  background-image: url("./img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  padding: 0.5rem;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
  }
}
#data-section {
  padding: 15px;
  display: grid;
  grid-template-columns: 100%;
  display: flex;
  flex-direction: column-reverse;
  img {
    width: 100%;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: xx-large;
      text-transform: capitalize;
      color: hsl(228, 39%, 23%);
      margin-bottom: 1rem;
      font-weight: bold;
    }
    p {
      color: hsl(227, 12%, 61%);
      margin-bottom: 1rem;
      line-height: 1.5;
      padding: 0;
      text-align: justify;
    }
    button {
      background-color: hsl(12, 88%, 59%);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      text-transform: capitalize;
      color: hsl(0, 0%, 98%);
      box-shadow: 0px 4px 5px 0px #f25f3a;
    }
  }
}

div {
  .wrapper {
    @include format(column);
    .question {
      text-align: center;
      padding: 1rem;
      color: $Dark-Blue;
      font-weight: bold;
      font-size: xx-large;
    }
    p {
      padding: 1.5rem;
      color: $Grayish-blue;
      line-height: 1.5;
      text-align: justify;
    }
  }
  .articles {
    @include format(column);
    div {
      @include format(row);
      position: relative;
      margin: 1.5px;
      .number {
        padding: 0.1rem 1rem;
        border-radius: 1rem;
        background-color: $bright-Red;
        color: $Very-light;
        position: absolute;
        width: 15%;
      }
      span {
        @include format(row);
        padding: 0.1rem 1rem;
        background-color: $Very-Red;
        width: 100%;
        justify-content: center;
        color: $Dark-Blue;
        font-weight: bold;
      }
    }
    p {
      padding: 0.5rem 0.5rem 3rem;
      color: $Grayish-blue;
      line-height: 1.7;
    }
  }
}

.section3 {
  @include flex-column();
  color: $Dark-Blue;
  h3 {
    font-size: 2rem;
  }
  .card {
    display: flex;
    flex-direction: row;
    .anisha {
      display: none;
    }
    .richard {
      display: none;
    }
    .ali {
      width: 100%;
      padding: 1.5rem;
      @include flex-column();
      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .tex {
        color: $Grayish-blue;
      }
    }
  }
  .point {
    width: 100%;
    .point1.point2 .point3 {
      width: 1rem;
      height: 1rem;
      color: black;
    }
  }
  .purple {
    @include purple();
    box-shadow: 0px 4px 5px 0px #f25f3a;
    &:hover {
      opacity: 0.5;
    }
  }
  .started {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-image: url("./img/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-color: $bright-Red;
    h3 {
      text-align: center;
      padding: 3rem 1rem 0;
      color: $Very-Red;
    }
    .btn-white {
      display: flex;
      margin-bottom: 1rem;
      justify-content: center;
      padding: 2rem;
    }

    .white {
      @include white();
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

footer {
  background-color: $Very-Blue;

  @include format(column);
  .inbox {
    @include format(row);
    justify-content: center;
    padding: 1.5rem 0;
    input {
      margin: 0.5rem;
      width: 65%;
      border-radius: 50px;
      padding: 0.8rem;
      border: none;
    }
    button {
      padding: 0.5rem;
      margin: 8px 0;
      border-radius: 50px;
      width: 25%;
      background-color: $bright-Red;
      color: $Very-light;
      border: none;
    }
  }

  div:nth-of-type(2) {
    padding-left: 1rem;
    ul {
      column-count: 2;
      padding: 2.5rem;
      li {
        display: flex;
        list-style-type: none;
        line-height: 2;
        a {
          color: $Very-light;
          text-decoration: none;
        }
      }
    }
  }

  div:nth-of-type(3) {
    @include format(column-reverse);
    justify-content: space-around;
    color: $Grayish-blue;
    align-items: center;
    padding: 0;

    img {
      width: 45%;
      padding: 10px;
      margin: 0px 5px;
    }
    div {
      @include format(row);
      justify-content: center;
      img {
        justify-content: center;
        margin: 1rem 0.5rem;
        width: 50px;
      }
    }
    p {
      @include format(row);
      justify-content: center;
      font-size: 8pt;
      padding: 1rem;
      color: $Grayish-blue;
    }
  }
}



@media only screen and(min-width:1400px) {
  /*.......empieza cambios de Brisset.......*/
  #data-section {
    @include format(row);
    padding: 3rem;

    article:first-of-type {
      margin-right: 5rem;
      h1 {
        @include format(row);
        text-align: left;
        padding-right: 10rem;
        margin-right: 15rem;
      }
      p {
        text-align: left;
        margin-bottom: 2rem;
        margin-right: 20rem;
      }
      button {
        margin-right: 35rem;
      }
    }
    img {
      margin-right: 20rem;
    }
  }

  .section3 {
    @include flex-column();
    .card {
      display: flex;
      flex-direction: row;
      .anisha {
        @include card();
        .name {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .tex {
          color: $Grayish-blue;
        }
      }
      .richard {
        @include card();
        .name {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .tex {
          color: $Grayish-blue;
        }
      }
      .ali {
        @include card();
      }
    }
    .started {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      background-image: url("./img/bg-simplify-section-desktop.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: hsl(12, 88%, 59%);
      h3 {
        width: 30%;
        padding: 3rem;
      }
      .btn-white {
        align-items: center;
      }
    }
  }

  footer {
    @include format(row-reverse);
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    div.inbox {
      padding-right: 1rem;
    }

    div:nth-of-type(2) {
      padding: 0;
    }

    div:nth-of-type(3) {
      @include format(column);
      align-items: flex-start;
      img {
        width: 65%;
        justify-content: right;
      }
      div {
        img {
          width: 30%;
          margin: 2rem 0;
        }
      }
    }
  }
  div {
    @include format(row);
    .wrapper {
      margin-left: 2rem;
      .question {
        @include format(row);
      }
      p {
        padding-right: 5rem;
        text-align: left;
        line-height: 2;
      }
    }
    .articles {
      padding: 1rem 7rem;
      text-align: left;
      .card {
        background: none;
        span:not(.number) {
          background: none;
        }
      }
    }
  }

}

