/* Primary */
$bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);

/*Neutral */
$Grayish-blue: hsl(227, 12%, 61%);
$Very-Blue: hsl(233, 12%, 13%);
$Very-Red: hsl(13, 100%, 96%);
$Very-light: hsl(0, 0%, 98%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}
body {
  background-image: url("./img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  padding: 0.5rem;
}
@mixin format($direction) {
  display: flex;
  flex-direction: $direction;
}
.wrapper {
  @include format(column);
  .question {
    text-align: center;
    padding: 1rem;
    color: $Dark-Blue;
  }
  p {
    padding: 1rem;
    text-align: center;
    color: $Grayish-blue;
    line-height: 1.7;
  }
}
.articles {
  @include format(column);
  div {
    @include format(row);
    position: relative;
    margin: 1.5px;
    .number {
      padding: 0.1rem 1rem;
      border-radius: 1rem;
      background-color: $bright-Red;
      color: $Very-light;
      position: absolute;
      width: 15%;
    }
    span {
      @include format(row);
      padding: 0.1rem 1rem;
      background-color: $Very-Red;
      width: 100%;
      justify-content: center;
      color: $Dark-Blue;
      font-weight: bold;
    }
  }
  p {
    padding: 0.5rem 0.5rem 3rem;
    color: $Grayish-blue;
    line-height: 1.7;
  }
}

footer {
  background-color: $Very-Blue;

  @include format(column);
.inbox {
    @include format(row);
    justify-content: center;
    padding: 1.5rem 0;
    input {
      margin: 0.5rem;
      width: 65%;
      border-radius: 50px;
      padding: 0.8rem;
      border: none;
    }
    button {
      padding: 0.5rem;
      margin: 8px 0;
      border-radius: 50px;
      width: 25%;
      background-color: $bright-Red;
      color: $Very-light;
      border: none;
    }
  }

div:nth-of-type(2) {
  padding-left: 1rem;
    ul {
      column-count: 2;
      padding: 2.5rem;
      li {
        display: flex;
        list-style-type: none;
        line-height: 2;
          a {
          color: $Very-light;
          text-decoration: none;
        }
      }
    }
  }
  div:nth-of-type(3) {
    @include format(column-reverse);
    justify-content: space-around;
    color: $Grayish-blue;
    align-items: center;
    padding: 0;
  
    img {
      width: 45%;
      padding: 10px;
      margin: 0px 5px;
    }
    div {

      @include format(row);
      justify-content: center;
     
      img {
        
        justify-content: center;
        margin: 1rem 0.5rem;
        width: 50px;
        
      }
      
    }
    p {
      @include format(row);
      justify-content: center;
      font-size: 7pt;
      padding: 2rem;
    }
  }
}

@media only screen and(min-width:1000px) {
.inbox {
    @include format(row);

    .wrapper {
      padding: 3rem 6rem;

      .question {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
    .articles {
      padding: 3rem 6rem;

      div {
        span:not(.number) {
          background-color: $Very-light;
        }
      }
    }
  }
  footer {
    @include format(row-reverse);
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    div.inbox{
      padding-right: 1rem;
    }

  div:nth-of-type(2){
    padding: 0;
   
  }

  div:nth-of-type(3){
    @include format(column);
    align-items: flex-start;
    img {
      width: 65%;
      justify-content: right;  
    }
    div{
      img{
        width: 30%;
        margin: 2rem 0;
      }
    }

  }

  
        
    }


  }
  #data-section {
    grid-template-columns: 50% 50%;
    article:last-child {
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      button {
        align-self: flex-start;
      }
    }
  }


nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

#data-section {
  padding: 15px;
  display: grid;
  grid-template-columns: 100%;
  display: flex;
  flex-direction: column-reverse;
  img {
    width: 100%;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article {
    h1 {
      font-size: xx-large;
      text-transform: capitalize;
      color: hsl(228, 39%, 23%);
      margin-bottom: 1rem;
      font-weight: bold;
      
      
    }
    p {
      color: hsl(227, 12%, 61%);
      margin-bottom: 1rem;
      line-height: 1.5;
      padding: 0 1.5rem;
      text-align: center;
    }
    button {
      background-color: hsl(12, 88%, 59%);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      text-transform: capitalize;
      color: hsl(0, 0%, 98%);
      box-shadow: 0px 4px 5px 0px #f25f3a;
    }
  }
}
