/* Primary */
/*Neutral */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

body {
  background-image: url("./img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  padding: 0.5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px;
}

#data-section {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#data-section img {
  width: 100%;
}

#data-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#data-section article h1 {
  font-size: xx-large;
  text-transform: capitalize;
  color: #242d52;
  margin-bottom: 1rem;
  font-weight: bold;
}

#data-section article p {
  color: #9095a7;
  margin-bottom: 1rem;
  line-height: 1.5;
  padding: 0;
  text-align: justify;
}

#data-section article button {
  background-color: #f25f3a;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-transform: capitalize;
  color: #fafafa;
  -webkit-box-shadow: 0px 4px 5px 0px #f25f3a;
          box-shadow: 0px 4px 5px 0px #f25f3a;
}

div .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div .wrapper .question {
  text-align: center;
  padding: 1rem;
  color: #242d52;
  font-weight: bold;
  font-size: xx-large;
}

div .wrapper p {
  padding: 1.5rem;
  color: #9095a7;
  line-height: 1.5;
  text-align: justify;
}

div .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div .articles div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 1.5px;
}

div .articles div .number {
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  background-color: #f25f3a;
  color: #fafafa;
  position: absolute;
  width: 15%;
}

div .articles div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.1rem 1rem;
  background-color: #ffefeb;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #242d52;
  font-weight: bold;
}

div .articles p {
  padding: 0.5rem 0.5rem 3rem;
  color: #9095a7;
  line-height: 1.7;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242d52;
}

.section3 h3 {
  font-size: 2rem;
}

.section3 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section3 .card .anisha {
  display: none;
}

.section3 .card .richard {
  display: none;
}

.section3 .card .ali {
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .card .ali .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.section3 .card .ali .tex {
  color: #9095a7;
}

.section3 .point {
  width: 100%;
}

.section3 .point .point1.point2 .point3 {
  width: 1rem;
  height: 1rem;
  color: black;
}

.section3 .purple {
  background-color: #f25f3a;
  color: #ffefeb;
  border-radius: 1rem;
  height: 2.2rem;
  width: 6.5rem;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 5px 0px #f25f3a;
          box-shadow: 0px 4px 5px 0px #f25f3a;
}

.section3 .purple:hover {
  opacity: 0.5;
}

.section3 .started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("./img/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #f25f3a;
}

.section3 .started h3 {
  text-align: center;
  padding: 3rem 1rem 0;
  color: #ffefeb;
}

.section3 .started .btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.section3 .started .white {
  background-color: #ffefeb;
  color: #f25f3a;
  border-radius: 1rem;
  height: 2.2rem;
  width: 6.5rem;
  border: none;
  cursor: pointer;
}

.section3 .started .white:hover {
  opacity: 0.5;
}

footer {
  background-color: #1d1e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p {
  padding: 1rem;
  color: #9095a7;
  font-size: 8pt;
}

footer .inbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
}

footer .inbox input {
  margin: 0.5rem;
  width: 65%;
  border-radius: 50px;
  padding: 0.8rem;
  border: none;
}

footer .inbox button {
  padding: 0.5rem;
  margin: 8px 0;
  border-radius: 50px;
  width: 25%;
  background-color: #f25f3a;
  color: #fafafa;
  border: none;
}

footer div:nth-of-type(2) {
  padding-left: 1rem;
}

footer div:nth-of-type(2) ul {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 2.5rem;
}

footer div:nth-of-type(2) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  line-height: 2;
}

footer div:nth-of-type(2) ul li a {
  color: #fafafa;
  text-decoration: none;
}

footer div:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #9095a7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

footer div:nth-of-type(3) img {
  width: 45%;
  padding: 10px;
  margin: 0px 5px;
}

footer div:nth-of-type(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div:nth-of-type(3) div img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0.5rem;
  width: 50px;
}

footer div:nth-of-type(3) p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8pt;
  padding: 1rem;
  color: #9095a7;
}

/*
p.responsive{
  visibility: hidden;
}*/
@media only screen and (min-width: 1400px) {
  /*.......empieza cambios de Brisset.......*/
  #data-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem;
  }
  #data-section article:first-of-type {
    margin-right: 5rem;
  }
  #data-section article:first-of-type h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding-right: 10rem;
    margin-right: 10rem;
    font-size: 40pt;
    line-height: 1.2;
  }
  #data-section article:first-of-type p {
    text-align: left;
    margin-bottom: 2rem;
    margin-right: 25rem;
  }
  #data-section article:first-of-type button {
    margin-right: 35rem;
  }
  #data-section img {
    margin-right: 20rem;
  }
  .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section3 .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section3 .card .anisha {
    display: block;
    width: calc(100% / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem;
  }
  .section3 .card .anisha .name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .section3 .card .anisha .tex {
    color: #9095a7;
  }
  .section3 .card .richard {
    display: block;
    width: calc(100% / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem;
  }
  .section3 .card .richard .name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .section3 .card .richard .tex {
    color: #9095a7;
  }
  .section3 .card .ali {
    display: block;
    width: calc(100% / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem;
  }
  .section3 .started {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url("./img/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f25f3a;
  }
  .section3 .started h3 {
    width: 30%;
    padding: 3rem;
  }
  .section3 .started .btn-white {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div .wrapper {
    margin-left: 2rem;
  }
  div .wrapper .question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div .wrapper p {
    padding-right: 5rem;
    text-align: left;
    line-height: 2;
  }
  div .articles {
    padding: 1rem 7rem;
    text-align: left;
  }
  div .articles .card {
    background: none;
  }
  div .articles .card span:not(.number) {
    background: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
  footer p {
    color: #9095a7;
    position: absolute;
    right: 165px;
    bottom: 25px;
  }
  footer div.inbox {
    padding-bottom: 3rem;
  }
  footer div.inbox input {
    width: 70%;
  }
  footer div:nth-of-type(2) {
    padding: 0;
  }
  footer div:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer div:nth-of-type(3) img {
    width: 65%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  footer div:nth-of-type(3) div img {
    width: 30%;
    margin: 2rem 0;
  }
}
/*# sourceMappingURL=styles.css.map */